* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  color: #E5D5D5;
  margin-top: 116px;
  margin-left: 167px;
}

h2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #E3A9A9;
  margin-top: 12px;
  margin-left: 167px;
}

.DDoS_notes {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  width: fit-content;
  color: #E3A9A9;
  margin-left: 167px;
  margin-top: 82px;
  background-color: rgba(183, 32, 32, 0.55);
  padding: 10px;
}

body {
  background-color: #1C0A0A;
}

nav a {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #E5D5D5;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
}

nav a:hover {
  color: rgb(83, 11, 11);
}

nav {
  display: flex;
  justify-content: center;
  background-color: #B72020;
  padding: 15px;
  gap: 10px;
}