* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #E5D5D5;
  margin-top: 116px;
  margin-left: 167px;
}
.DDoS_notes {
  color: #E3A9A9;
}
body {
  background-color: #1C0A0A;
}

nav a {
  color: #E5D5D5;
  text-decoration: none;
}

nav a:hover {
  color: rgb(97, 38, 38);
}

nav {
  display: flex;
  justify-content: center;
  background-color: #B72020;
  padding: 15px;
  gap: 10px;
}